.addMemeBox {
    visibility: hidden;
    position: absolute;
    width: 30%;
    height: 550px;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 35%;
    background: rgb(15,4,76);
    background: linear-gradient(0deg, rgba(15,4,76,1) 0%, rgba(22,31,90,1) 100%); 
    box-shadow: 3px 3px 5px 6px black;
}

.addNatureBox {
    visibility: hidden;
    position: absolute;
    width: 30%;
    height: 550px;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 35%;
    background: rgb(75,75,3);
    background: linear-gradient(90deg, rgba(75,75,3,0.8323530095632002) 0%, rgba(87,168,0,0.75672275746236) 51%, rgba(143,179,10,0.7203081916360294) 100%); 
    box-shadow: 3px 3px 5px 6px black;
}