body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 59%, rgba(0,99,255,1) 100%); 
}

.error {
    color: red;
}

.login-box {
    margin-top: 16%;
}

.login-box > form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5%;
    background-color: white;
    border-radius: 10px;
    width: 250px;
    height: 300px;
}

.login-form > input {
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    order: 1;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 25px;
}

.login-form > input:focus {
    transition: all 0.5s;
    border: 2px solid black;
    outline: none; /* removes the blue glow when selecting the input field */
}

input[type=submit] {
    margin-top: 20px;
}

footer {
    background-color: #161f5a;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: small;
}