/* I hate css */
@import "addboxes.css";
body {
    background-color: #0F044C;
    margin: 0;
}

.navbar {
    background-color: #161f5a;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    box-shadow: 3px 1px 4px 2.5px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(91, 71, 207);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 1s;
}

li a:hover {
    transition: color 1s;
    color: rgb(169, 154, 255);
}

.account {
    width: 30px;
    height: 30px;
}

.subjects {
    margin-right: 3%;
    font-size: larger;
}

.account-redirect {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #161f5a;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 40px;
    bottom: 0;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: small;
    padding-top: 4px;
}

footer > p {
    margin-top: 10px;
}

.box {
    width: 25%;
    height: 400px;
    background-color: rgb(68, 56, 105);
    border-radius: 10px;
}

button {
    margin-top: 17px;
    width: 100px;
    background-color: rgba(100, 51, 235, 0.644);
    border-radius: 10px;
    transition: background-color 1s;
}

button:hover {
    cursor: pointer;
    background-color: rgba(173, 148, 241, 0.644);
    transition: background-color 1s;
}

.close {
    float: right;
    margin-top: 3.5px;
    margin-right: 3.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: rgb(110, 45, 45);
    transition: color 0.75s;
}

.close:hover {
    color: rgb(235, 41, 41);
    cursor: pointer;
    transition: color 0.75s;
}

.addForm {
    color: rgb(214, 203, 142);
    margin-top: 8%;
    display: flex;
    flex-direction: column;
}

.addForm > input {
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
    transition: border 1s;
}

textarea {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 400px;
    max-height: 200px;
    outline: none;
    transition: border 1s;
}

textarea:focus, .addForm > input:focus {
    border: 2px solid rgb(94, 255, 0);
    transition: border 1s;
}

input[type=text] {
    width: 40%;
    height: 30px;
}

input[type=submit] {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #727796;
    color: white;
    transition: all 0.50s;
    margin-left: 2px;
    margin-right: 2px;
    width: 99.5%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: small;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #171f4e;
    color: rgb(243, 185, 109);
    transition: all 0.50s;
}

.inlineWithTitle, h2 {
    display: inline;
}

h2 {
    color: black;
    margin-top: 3.5px;
    margin-left: 3.5px;
}

.error {
    text-align: center;
    color: rgb(161, 21, 21);
}