/* I hate css */
body {
    background-color: #0F044C;
    margin: 0;
}

.navbar {
    background-color: #161f5a;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    box-shadow: 3px 1px 4px 2.5px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(91, 71, 207);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 1s;
}

li a:hover {
    transition: color 1s;
    color: rgb(169, 154, 255);
}

.account, .home {
    width: 30px;
    height: 30px;
}

.home:hover {
    cursor: pointer;
}

.subjects {
    margin-right: 3%;
    font-size: larger;
}

.account-redirect {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #161f5a;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: small;
}

.postDetailBox {
    border: 4px solid rgb(0, 255, 64);
    border-radius: 10px;
    width: 50%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.postDetailBox > h3 {
    float: right;
    display: inline;
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
    color: wheat;
}

.postDetailBox > h1 {
    margin-left: 2% ;
    color: wheat;
    display: inline;
}

.imageBox {
    display: flex;
    justify-content: center;
}

.imageBox > img {
    border-radius: 10px;
    box-shadow: 1px 1px 1px 3px rgb(63, 63, 255);
    width: 474px;
    height: 338px;
}

.description {
    padding: 5px;
    color: rgb(167, 140, 100);
    resize: none;
    width: 400px;
    height: 125px;
    position: sticky;
    bottom: 0;
    left: 0;
}

.tag {
    background-color: gray;
    color: rgb(94, 82, 45);
    border-radius: 10px;
    padding: 3px;
    margin: 3px;    
}

.tagInline, .tag {
    display: inline;
}

.tag {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.tagInline {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}