/* I hate css */
body {
    background-color: #0F044C;
    margin: 0;
}

.navbar {
    background-color: #161f5a;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    box-shadow: 3px 1px 4px 2.5px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(91, 71, 207);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 1s;
}

li a:hover {
    transition: color 1s;
    color: rgb(169, 154, 255);
}

.account {
    width: 30px;
    height: 30px;
}

.subjects {
    margin-right: 3%;
    font-size: larger;
}

.account-redirect {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #161f5a;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: small;
}

.subjectTitle {
    text-align: center;
    color: wheat;
}