.natureBody { /* Background for the nature subject */
    background: rgb(125,124,22);
    background: linear-gradient(90deg, rgba(125,124,22,1) 0%, rgba(103,156,46,1) 51%, rgba(202,255,0,1) 100%); 
}

.postbox {
    border: 5px solid black;
    border-radius: 10px;
    width: 78.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    background-color: rgb(73, 94, 134);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post {
    margin-top: 10px;
    margin-left: 10px;
    border: 5px solid black;
    width: 474px;
    height: 390px;
    border-radius: 10px;
}

.post > img {
    border-radius: 5px;
    width: 474px;
    height: 338px;
}

.postinfo {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding-left: 10px;
}

.postinfo > p {
    margin: 0;
}

.home {
    width: 30px;
    height: 30px;

}

.home:hover {
    cursor: pointer;
}

.addNatureBox {
    background-color: greenyellow;
}